{% load static %}
<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <title>Teacher Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>Teacher Dashboard</h1>
        <p>Salom, {{ request.user.username }}!</p>
    </header>
    <nav>
    <a href="#">Yangi dars qo‘shish</a>
    <a href="#">Talabalar ro‘yxati</a>
    <a href="{% url 'password_change' %}">Parolni o‘zgartirish</a>
    <a href="/accounts/logout/">Chiqish</a>
    </nav>
    <main>
        <p>Bu sahifada o‘qituvchiga tegishli kurslar va darslar ko‘rsatiladi.</p>
    </main>
</body>
</html>
